@media (max-width: 767px){
    header {
        nav.nav-wrap.display-off {
            display: none;
        }
        ul.nav {
            height: 0;
            transition: 0.5s;
            text-align: center;
            overflow: hidden;
            li {
                display: block;
            }
        }
    }
}

@media (max-width: 767px){
    header {
        nav.nav-wrap.display-on {
            ul.nav {
                height: 150px;
                transition: 0.5s;
            }
        }
    }
}